<div class="col-12">
    <h2>{{project.projectName}}</h2>
    <tabset class="project-tabset" #projectTabs>
        <tab heading="Description">
            <textarea class="form-control" *ngIf="project.creatorName === user.userName" [(ngModel)]="project.projectDescription" name="description" rows="3"></textarea>
            <p *ngIf="project.creatorName !== user.userName">{{project.projectDescription}}</p>
        </tab>
        <tab heading="Project files">
            <app-file-editor [project]="project"></app-file-editor>
        </tab>
        <tab heading="Contributors">
            <p>{{project.contributors}}</p>
        </tab>
        <tab heading="Creator">
            <p>{{project.creatorName}}</p>
        </tab>
        
    </tabset>
    <button id="btn" class="btn btn-primary" *ngIf="project.creatorName === user.userName" (click)="updateProject()">Update</button>
    <button id="btn" class="btn btn-danger" *ngIf="project.creatorName === user.userName" (click)="onDelete()" [routerLink]="['/projects']">Delete this project</button>
</div>