<div class="container mt-3">Filters 
    <form #form="ngForm" class="form-inline mb-3" autocomplete="off">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" name="orderBy" (click)="loadProjects()" btnRadio="id"
                [(ngModel)]="projectParams.orderBy">By id</button>
            <button type="button" class="btn btn-primary" name="orderBy" (click)="loadProjects()" btnRadio="alphabetically"
                [(ngModel)]="projectParams.orderBy">Alphabetically</button>
        </div>
    </form>
</div>
<div class="row" *ngIf="projects?.length === 0">
    <h3>No projects</h3>
</div>
<div class="row">
    <table class="table">
        <tr>
            <th style="width: 30%">Project name</th>
            <th style="width: 40%">Description</th>
            <th style="width: 30%"></th>
        </tr>
        <tr *ngFor="let project of projects">
            <td>{{project.projectName}}</td>
            <td>{{project.projectDescription}}</td>
            <td><button class="btn btn-info">View Details</button></td>
        </tr>
    </table>
</div>
<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
    </pagination>
</div>