img.img-thumbnail {
    height: 150px;
    min-width: 150px !important;
    margin-bottom: 5px;
}

.nv-file-over {
    border: dotted 3px red;
}

input[type=file] {
    color: transparent;
}

.container {
    position: relative;
    text-align: center;
    color: white;

}

.button-container {
    padding: 5px;
    margin-left: 30px;
}

.centered {
    position: absolute;
    color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.col-2 {
    width: 200px;
}